{% extends 'base.html' %}
{% load i18n %}

{% block content_header %}{% trans object.name|title %}
  <small>{% trans 'Details' %}</small>{% endblock %}

{% block manage_buttons %}
  {% if user in object.investigator %}
    <div class="btn-group pull-right">
      <button class="btn btn-danger btn-flat" data-href="{% url 'labs:delete' lab_pk=object.pk %}"
              data-toggle="modal" data-target="#confirm-delete">
        <i class="fa fa-trash"></i> {% trans 'delete'|title %}
      </button>
    </div>
    <div class="btn-group">
      <a href="{% url 'labs:update' lab_pk=object.pk %}" class="btn btn-info btn-flat">
        <i class="fa fa-edit"></i> {% trans 'edit'|title %}
      </a>
    </div>
  {% endif %}
  {% if user in object.investigator or user in object.members %}
    <div class="btn-group">
      <a href="{% url 'experiments:create' lab_pk=object.pk %}" class="btn bg-olive btn-flat">
        <i class="fa fa-plus"></i> {% trans 'Create Experiment'|title %}
      </a>
    </div>
  {% endif %}
  {% if experiments_list %}
    <div class="btn-group">
      <a href="{% url 'units:list' lab_pk=object.pk %}" class="btn bg-yellow btn-flat">
        <i class="fa fa-list"></i> {% trans 'units list'|title %}
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      {% include 'small-box_collapse.html' with obj_list=object.investigator title_box='investigators' color='yellow' icon='users' %}
    </div>
    <div class="col-lg-3 col-xs-6">
      {% include 'small-box_collapse.html' with obj_list=object.guests title_box='guests' color='red' icon='users' %}
    </div>
    <div class="col-lg-3 col-xs-6">
      {% include 'small-box_collapse.html' with obj_list=object.memebers title_box='members' color='aqua' icon='users' %}
    </div>
    <div class="col-lg-3 col-xs-6">
      {% include 'small-box_collapse.html' with obj_list=experiments_list title_box='experiments' color='olive' icon='flask' %}
    </div>
  </div>
  <!-- Left content section -->
<div class="row">
  <section class="col-lg-6">

    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">{% trans object.name|title %}</h3>
      </div>
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt> {% trans 'Investigators' %}:</dt>
          <dd>
            {% for person in object.investigator %}
              <a href="{{ person.get_absolute_url }}">
                <i class="fa fa-user"></i>
                {{ person.full_name }}
              </a>
              {% if not forloop.last %}, {% endif %}
            {% empty %}
              {% trans 'Not a single person' %}
            {% endfor %}
          </dd>
          <dt> {% trans 'Members' %}:</dt>
          <dd>
            {% for person in object.members %}
              <a href="{{ person.get_absolute_url }}">
                <i class="fa fa-user"></i>
                {{ person.full_name }}
              </a>
              {% if not forloop.last %}, {% endif %}
            {% empty %}
              {% trans 'Not a single person' %}
            {% endfor %}
          </dd>
          <dt> {% trans 'Guests' %}:</dt>
          <dd>
            {% for person in object.guests %}
              <a href="{{ person.get_absolute_url }}">
                <i class="fa fa-user"></i>
                {{ person.full_name }}
              </a>
              {% if not forloop.last %}, {% endif %}
            {% empty %}
              {% trans 'Not a single person' %}
            {% endfor %}
          </dd>
        </dl>
      </div>
      <!--<div class="list-group col-lg-11">
        <div class="col-sm-4 title-desc">{% trans 'name'|title %}</div>
        <div class="col-sm-8">
          <ul class="list-group">
            <li class="list-group-item list-group-item-sm">{{ object.name }}</li>
          </ul>
        </div>
        <div class="col-sm-4 title-desc">{% trans 'investigators'|title %}</div>
        <div class="col-sm-8">
          <ul class="list-group">
            {% for member in object.investigator %}
              <li class="list-group-item list-group-item-sm">
                <a href="{{ member.get_absolute_url }}">{{ member.full_name }}</a></li>
            {% endfor %}
            {% if not object.investigator %}
              <li class="list-group-item list-group-item-sm">&nbsp;</li>
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-4 title-desc">{% trans 'members'|title %}</div>
        <div class="col-sm-8">
          <ul class="list-group">
            {% for member in object.members %}
              <li class="list-group-item list-group-item-sm"><a
                  href="{{ member.get_absolute_url }}">{{ member.full_name }}</a></li>
            {% endfor %}
            {% if not object.members %}
              <li class="list-group-item list-group-item-sm">&nbsp;</li>
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-4 title-desc">{% trans 'guests'|title %}</div>
        <div class="col-sm-8">
          <ul class="list-group">
            {% for member in object.guests %}
              <li class="list-group-item list-group-item-sm"><a
                  href="{{ member.get_absolute_url }}">{{ member.full_name }}</a></li>
            {% endfor %}
            {% if not object.guests %}
              <li class="list-group-item list-group-item-sm">&nbsp;</li>
            {% endif %}
          </ul>
        </div>
      </div>-->
    </div>
  </section>
  <!-- end left content section -->

  <!-- Right content section -->
  <section class="col-lg-6">
    {% if experiments_list %}
        <div class="box">
          <div class="box-header"><h3 class="box-title">{% trans 'experiments'|title %}</h3></div>
          <div class="box-body">
            <div class="list-group">
              {% for experiment in experiments_list %}
                <a href="{{ experiment.get_absolute_url }}" class="list-group-item list-group-item-sm">
                  {{ experiment }}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
    {% endif %}
  </section>
  </div>
  <!-- end right content section -->
{% endblock %}
{% block modal %}{% include 'alert.html' with obj=object.name %}{% endblock %}
