{% extends 'base.html' %}

{% load i18n %}
{% block content_header %}{% trans 'Home' %}{% endblock %}
{% block content %}
  <div class="col-md-offset-2 col-md-8 col-sm-12">

    {% if not object_list %}
      <div class="box box-solid">
        <div class="box-footer">
          <a class="btn btn-primary btn-block btn-flat" href="{% url 'labs:create_test_lab' %}">
            <i class="fa fa-plus"></i> <i class="fa fa-plus"></i> {% trans 'Create <i>test</i> lab' %}
          </a>
          <a href="{% url 'labs:create' %}" class="btn btn-default btn-block btn-flat">
            <i class="fa fa-plus"></i> {% trans 'Create empty lab' %}
          </a>
        </div>
      </div>
    {% else %}
      <div class="box box-solid box-info">
        <div class="box-header">
          <i class="fa fa-flask"></i>

          <h3 class="box-title"> {% trans 'Laboratories' %}</h3>
        </div>
        <div class="box-body">
          <div class="box-group" id="accordion">
            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
            {% for object in object_list %}
              <div class="panel box">
                <div class="box-header">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ object.name|slugify }}"
                       class="collapsed">
                      {{ object.name|title }}
                    </a>
                  </h4>

                  <div class="box-tools pull-right">
                    <a href="{% url 'dashboard:dashboard' lab_pk=object.pk %}"
                       class="btn btn-flat btn-sm " title="{% trans 'Go to the lab' %}">
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div id="{{ object.name|slugify }}" class="panel-collapse collapse" style="height: 0px;">
                  <div class="box-body">
                    <dl class="dl-horizontal">
                      <dt><i class="fa fa-users"></i> {% trans 'Investigators' %}:</dt>
                      <dd>
                        {% for person in object.investigator %}
                          <a href="{{ person.get_absolute_url }}">
                            <i class="fa fa-user"></i>
                            {{ person.full_name }}
                          </a>
                          {% if not forloop.last %}, {% endif %}
                        {% empty %}
                          {% trans 'Not a single person' %}
                        {% endfor %}
                      </dd>
                      <dt><i class="fa fa-users"></i> {% trans 'Members' %}:</dt>
                      <dd>
                        {% for person in object.members %}
                          <a href="{{ person.get_absolute_url }}">
                            <i class="fa fa-user"></i>
                            {{ person.full_name }}
                          </a>
                          {% if not forloop.last %}, {% endif %}
                        {% empty %}
                          {% trans 'Not a single person' %}
                        {% endfor %}
                      </dd>
                      <dt><i class="fa fa-users"></i> {% trans 'Guests' %}:</dt>
                      <dd>
                        {% for person in object.guests %}
                          <a href="{{ person.get_absolute_url }}">
                            <i class="fa fa-user"></i>
                            {{ person.full_name }}
                          </a>
                          {% if not forloop.last %}, {% endif %}
                        {% empty %}
                          {% trans 'Not a single person' %}
                        {% endfor %}
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="box-footer">
          <a class="btn btn-primary btn-block btn-flat" href="{% url 'labs:create_test_lab' %}">
            <i class="fa fa-plus"></i> {% trans 'Create <i>demo</i> lab' %}
          </a>
          <a href="{% url 'labs:create' %}" class="btn btn-default btn-block btn-flat">
            <i class="fa fa-plus"></i> {% trans 'Create empty lab' %}
          </a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
