{% extends 'registration/base.html' %}
{% load i18n bootstrap_tags %}

{% block content %}
{% block alert_area %}{% endblock %}

  <div class="header">{% block box_header %}{% endblock %}</div>
  <form action="" method="post">
    <div class="body bg-gray">
      {% block alert %}{% endblock %}
      {% block box_body %}
        {% csrf_token %}
        {{ form|as_bootstrap_inline }}
      {% endblock %}
    </div>
    <div class="footer">
      {% block box_footer %}{% endblock %}
    </div>
  </form>
{% endblock %}