body {
    min-height: 100%;
}

/*
.content {
    /*overflow: none !important;
    width: 100%;
}
*/
.content .col-sm-5 + .col-sm-7 {
    overflow: hidden;
}

.select2-disabled {
    display: none !important;
}

.dashboard-tab {
    min-height: 615px;
}
.plot-area {
    padding-bottom: 15px;
}
.create-plot-btn {
    padding-top: 5px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.handsontable .handsontable table {
    -webkit-box-shadow: none;
    box-shadow: none;
    /*overflow-x: auto;*/
}

.handsontable table th {
    vertical-align: middle;
}

.handsontable table td, .handsontable table th {
    border-left: solid 1px #cccccc;
}

.handsontable td.error {
    border: solid 3px #f56954 !important;
}

.handsontable td.htInvalid {
    background: none;
    border: solid 3px #f56954 !important;
}

.wtHolder.ht_master {
    height: auto !important;
}

.resent-activities-container .comment-activities-container {
    max-height: 627px;
}

.resent-activities, .comment-activities {
    max-height: inherit;
    overflow-y: auto;
}

.comment-activities {
    max-height: 200px;
}

.container-xs-height {
    height: 100px;
}

.ht_clone_top {
    display: none;
}

.list-group-item-sm {
    padding: 6px 10px;
}

.list-group > div:not(.row) {
    overflow: hidden;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.white, .white a {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.top-vertical-align {
    vertical-align: top;
}

.property {
    margin-right: 10px;
}

.property, .value {
    margin-bottom: 5px;
    display: inline-block;
    width: 49%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.pager li.active a {
    color: #333;
}

.skin-black .navbar.search-component {
    background-color: transparent;
    border-bottom: none;
}

.search-content {
    min-height: 100px;
}

.wrap-handsontable {
    overflow: auto;
    min-height: 200px;
    width: 100%;
}

.title-desc {
    min-width: 150px;
}

.tags {
    padding: 3px 5px 3px 5px;
    margin: 3px 0 3px 2px;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 12px;
}

#search {
    font-weight: 600;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
    margin: 0 auto !important;
    float: none;
}

textarea {
    resize: vertical;
}

#description {
    min-height: 20px;
}

.btn-group {
    padding-top: 2px;
}

li.message.success {
    color: #00acd6;
    font-weight: 600;
}

li.message.error {
    color: #f4543c;
    font-weight: 600;
}

ul.messages {
    list-style: none;
    background-color: #f5f5f5;
    padding: 15px 15px;
    width: 100%;
}

ul.messages.message-table {
    width: 90%;
    margin-left: -15px;
}

/*file manager start*/
UL.jqueryFileTree {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.filemanager-content button:not(.btn) {
    border-bottom-color: #d3d5d7;
    border-bottom-width: 2px;
    margin-left: 0px !important;
    background: #fafafa;
    color: #666;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-transform: lowercase;
}

/*file manager end*/

/*forms start*/
.hidden-field, .input-group .form-control.hidden-field {
    display: none;
}

.inline-btn {
    display: inline-block;
    margin-top: 5px;
}

.update-collection-form {
    padding-left: 0;
    padding-right: 0;
}

span.has-error {
    color: #f56954;
    font-weight: 700;
}

/*forms end*/

.alert-activation {
    margin-left: 0px !important;

}