{% load static i18n %}

<div class="filemanager-content">
  <form id="uploader" method="post">
    <button id="home" name="home" type="button" value="Home">&nbsp;</button>
    <h1></h1>

    <div id="uploadresponse"></div>
    <input id="mode" name="mode" type="hidden" value="add"/>
    <input id="currentpath" name="currentpath" type="hidden"/>

    <div id="file-input-container">
      <div id="alt-fileinput">
        <input id="filepath" name="filepath" type="text"/>
        <button id="browse" name="browse" type="button" value="Browse"></button>
      </div>
      <input id="newfile" name="newfile" type="file"/>
    </div>
    <button id="upload" name="upload" type="submit" value="{% trans 'Upload' %}"></button>
    <button id="newfolder" name="newfolder" type="button" value="{% trans 'New Folder' %}"></button>
    <button id="grid" class="ON" type="button">&nbsp;</button>
    <button id="list" type="button">&nbsp;</button>
  </form>
  <div id="splitter">
    <div id="filetree"></div>
    <div id="fileinfo">
      <h1></h1>
    </div>
  </div>
  <form name="search" id="search" method="get">
    <div>
      <input type="text" value="" name="q" id="q"/>
      <a id="reset" href="#" class="q-reset"></a>
      <span class="q-inactive"></span>
    </div>
  </form>

  <ul id="itemOptions" class="contextMenu">
    <li class="select"><a href="#select"></a></li>
    <li class="download"><a href="#download"></a></li>
    <li class="rename"><a href="#rename"></a></li>
    <li class="move"><a href="#move"></a></li>
    {#        <li class="replace"><a href="#replace"></a></li>#}
    <li class="delete separator"><a href="#delete"></a></li>
  </ul>
</div>

{% block script %}
  <script src='{% static "filemanager/scripts/jquery-migrate-1.2.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "filemanager/scripts/jquery.form-3.24.js" %}'></script>
  <script type="text/javascript"
          src='{% static "filemanager/scripts/jquery.splitter/jquery.splitter-1.5.1.js" %}'></script>
  <script type="text/javascript" src='{% static "filemanager/scripts/jquery.filetree/jqueryFileTree.js" %}'></script>
  <script type="text/javascript"
          src='{% static "filemanager/scripts/jquery.contextmenu/jquery.contextMenu-1.01.js" %}'></script>
  <script type="text/javascript" src='{% static "filemanager/scripts/jquery.impromptu-3.2.min.js" %}'></script>
  <script type="text/javascript" src='{% static "filemanager/scripts/jquery.tablesorter-2.7.2.min.js" %}'></script>
  <script type="text/javascript">
    // Set this to the directory you wish to manage.
    var fileRoot = '{{ UPLOAD_URL }}';
    var django_view = '{% url "filemanager" lab_pk=lab.pk %}';
    var treeConnector = django_view + '?mode=filetree';
    var staticUrl = {{ STATIC_URL }};
  </script>
  <script type="text/javascript" src='{% static "filemanager/scripts/filemanager.js" %}'></script>
{% endblock %}
