<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}" class="{% block html_classes %}{% endblock %}">
<head>
  <meta charset="UTF-8">
  {% block head %}
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{% static 'adminLTE/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'select2/select2.css' %}" rel="stylesheet">
    <link href="{% static 'select2/select2-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'adminLTE/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Ionicons -->
    <link href='{% static "adminLTE/css/ionicons.min.css" %}' rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- Theme style -->
    <link href='{% static "adminLTE/css/AdminLTE.css" %}' rel="stylesheet" type="text/css"/>
  {% endblock %}
  {% block css %}{% endblock %}

  <title>{% block title %}{% trans 'LabRepo.org'|title %}{% endblock %}</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  {% block top_scripts %}{% endblock %}
</head>
<body class="{% block body_classes %}wysihtml5-supported pace-done skin-black fixed{% endblock %}">
{% block body %}
  {% block menu %}
    <header class="header">
      <a href="{% url 'labs:list' %}" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        LabRepo.org
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="navbar-left">
          <ul class="nav navbar-nav">
            {% if lab %}
              <li><a href="{{ lab.get_absolute_url }}">{{ lab }}</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="navbar-right">
          <ul class="nav navbar-nav">
            {% if labs_list %}
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% trans 'Switch lab' %}">
                  <i class="fa fa-th-list"></i>
                  <span class="label label-info"> {{ labs_list|length }} </span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">{% blocktrans %}You have {{ labs_list|length }} laboratories{% endblocktrans %}</li>
                  <li>
                    <ul class="menu">
                      {% for lab in labs_list %}
                        <li><a href="{{ lab.get_absolute_url }}"><i class="ion ion-flask"></i> {{ lab }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-user"></i>
                  <span>{{ user.full_name }}<i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{% url 'profiles:update' pk=user.pk %}" class="btn btn-default btn-flat bg-aqua">
                        <i class="fa fa-cog"></i> {% trans 'Profile' %}
                      </a>
                    </div>
                    <div class="pull-right">
                      <a href="{% url 'auth_logout_then_login' %}" class="btn btn-default btn-flat bg-red">
                        <i class="fa fa-sign-out"></i> {% trans 'Sign out' %}
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
      {% include 'sidebar.html' %}
    </aside>
  {% endblock menu %}

<aside class="right-side">
  <section class="content-header">
    <h1>{% block content_header %}{% endblock %}</h1>
    {% if lab %}
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
        <li><a href="{{ lab.get_absolute_url }}">
          <i class="fa fa-flask"></i> {% blocktrans %}{{ lab }}{% endblocktrans %}</a>
        </li>
        {% block breadcrumb %}{% endblock %}
      </ol>
    {% endif %}

  </section>

  <section class="content">
    <div id="messages">
      {% for message in messages %}
        {% include 'message.html' %}
      {% endfor %}
    </div>
    <div class="page-header">{% block manage_buttons %}{% endblock %}</div>
    {% block content %}{% endblock %}

  </section>

</aside>
</div>

  {% block modal %}{% endblock %}
  <!-- jQuery UI 1.10.3 -->
  <script src="{% static 'adminLTE/js/jquery-ui-1.10.3.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'adminLTE/js/AdminLTE/app.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/forms.js' %}"></script>
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  <script type="text/javascript">
    // set global user variables
    var plot_un = '{{ user.plot_un|default:"" }}';
    var plot_key = '{{ user.plot_key|default:"" }}';
  </script>
  {% block script %}
    {% block extra_script %}{% endblock %}
    {% block form_script %}{% endblock %}
  {% endblock %}

{% endblock body %}
</body>
</html>