{% extends 'base.html' %}

{% load i18n static %}


{% block content_header %}
  {% if unit_pk %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  {% endif %}
{% endblock %}


{% block breadcrumb %}
  {% if experiment %}
    <li><a href="{{ experiment.get_absolute_url }}"><i class="fa fa-eyedropper"></i> {% trans experiment.title|title %}
    </a></li>
  {% endif %}
  {% if unit_pk %}
    {% if object.experiments %}
      <li>
        {% for experiment in object.experiments %}
          <a href="{{ experiment.get_absolute_url }}">
            <i class="fa fa-eyedropper"></i> {% trans experiment.title|title %}
          </a>&nbsp;
        {% endfor %}
      </li>
    {% endif %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  {% endif %}
  <li class="active">
    {% block breadcrumb_active %}
    {% endblock %}
  </li>
{% endblock %}


{% block manage_buttons %}
  {% if is_member %}
    <div class="btn-group">
      <button id="save" class="btn bg-olive"><i class="fa fa-save"></i> {% trans 'Saves' %}</button>
    </div>
  {% endif %}
    <div class="btn-group">
      <button  class="addcolumn btn bg-olive"><i class="fa fa-plus"></i> {% trans 'Add Column' %}</button>
    </div>
    <div class="btn-group">
      <button  class="show-plot btn bg-olive"><i class="fa fa-area-chart"></i> {% trans 'Create plot' %}</button>
    </div>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">History <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu revision-list" role="menu">
            {% for revision in revisions %}
                <li><a href="#" class="revert-revision" data-url="{% url 'measurements:measurement-revert' lab_pk=object.lab.pk unit_pk=object.id revision_pk=revision.pk %}"> {{ revision.timestamp }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
  <div class="col-lg-12">

    <div class="plot-area">
        <div class="row">
            <div class="col-lg-4">
        <form id="plot-form" style="display: none">
            <div class="plot-link"></div>
            <div class="form-inline">
                <div class="form-group">
                    <select  class="form-control asis" name="xasis">
                        <option selected disabled>x-asis</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control asis" name="yasis">
                        <option selected disabled>y-asis</option>
                    </select>
                </div>
                <div class="form-group">
                    <select  class="input-small form-control" name="type">
                        <option disabled>type</option>
                        <option selected value="scatter">scatter</option>
                        <option value="bar">bar</option>
                    </select>
                </div>
            </div>
            <div class="create-plot-btn">
              <button class="create-plot btn bg-olive"><i class="fa fa-area-chart"></i> {% trans 'Create plot' %}</button>
            </div>
        </form>
        </div>
        </div>
    </div>
    <div class="wrap-handsontable">
      <div id="dataTable" data-content='{{ data }}' data-title='{{ title }}' data-column='{{ column }}'
           data-headers='{{ headers }}' {% block urls %}{% endblock %}></div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="set_un" tabindex="-1" role="dialog" aria-labelledby="Modal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" title="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="Modal">{% trans 'Error' %}</h3>
      </div>
      <form method="post" class="modal-form {{ class }}" action="{{ action }}" data-field="{{ fields }}">
        <div class="modal-body">
          <p>Please set plot.ly username and key in <a href="{% url 'profiles:update' pk=user.pk %}">your profile</a>. You can access it in <a href="https://plot.ly/settings/api">plot.ly profile page</a></p>
        </div>
        <div class="modal-footer form-actions">
          <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% block css %}
  <link rel="stylesheet" media="screen" href="{% static 'jquery-handsontable/jquery.handsontable.full.css' %}">
  <link rel="stylesheet" media="screen" href="{% static 'jquery-handsontable/jquery.handsontable.bootstrap.css' %}">
  {% block extra_css %}{% endblock %}
{% endblock %}


{% block script %}
  <script src="{% static 'jquery-handsontable/jquery.handsontable.full.js' %}"></script>
  <script src="{% static 'jquery-handsontable/selectMultipleEditor.js' %}"></script>
  <script src="{% static 'jquery-handsontable/select2Editor.js' %}"></script>
  <script src="{% static 'jquery-handsontable/datetimeEditor.js' %}"></script>
  {% block extra_script %}{% endblock %}
  <script src="{% static 'js/handson-table-new.js' %}"></script>
  <script src="{% static 'js/plot.js' %}"></script>

    <script type="text/javascript">
        $(function() {
            var table = $("#dataTable");
            var options = $(table).handsontable('getDataAtRow', 0);
            $('#plot-form .asis').find('option').not( ":disabled" ).remove().end();
            for (var i = 0, max = options.length; i < max; i += 1) {
                $('#plot-form .asis').append('<option value="'+ i +'">' + options[i] + '</option>')
            }
        });

        // revert table data on revision restore
        $('body').on('click',' .revert-revision', function (e) {
            var url = $(this).data('url');
            $.post(url, function (data) {
                var table = $("#dataTable");
                var table_data = data.table_data;
                table_data.unshift(data.headers);
                table.handsontable('loadData', table_data);
            });

            reset_plot();

        });

    </script>
{% endblock %}