{% extends 'base.html' %}

{% load i18n bootstrap_tags static %}


{% block content_header %}
  {{ object.full_name }}
  <small>{% trans 'profile'|title %}</small>
{% endblock %}


{% block manage_buttons %}
  {% if object == user %}
    {% if form %}
      <div class="text-right">
        <a class="btn btn-info btn-flat btn-sm" href="#" data-toggle="modal" data-target="#modal">
          {% trans 'update'|title %}
        </a>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}


{% block modal %}{% include 'modal.html' with extra_form=form modal_title='update your profile' %}{% endblock %}


{% block content %}
  <section class="col-sm-offset-2 col-sm-8">
    <div class="box box-solid">
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt>{% trans 'First name' %}</dt>
          <dd>{{ object.first_name|default:'' }}</dd>
          <br>
          <dt>{% trans 'Last name' %}</dt>
          <dd>{{ object.last_name|default:'' }}</dd>
          <br>
          <dt>{% trans 'Email'|title %}</dt>
          <dd>{{ object.email }}</dd>
          <br>
          <dt>{% trans 'Last login time' %}</dt>
          <dd>
            <i class="fa fa-clock-o"></i> {{ object.last_login|time }}
          </dd>
          <br>
          <dt>{% trans 'Last login date' %}</dt>
          <dd>
            <i class="fa fa-calendar-o"></i> {{ object.last_login|date }}
          </dd>
            <hr>
          <br>
          <dt>{% trans 'Plot.ly username' %}</dt>
          <dd>
            <i class="fa fa-area-chart"></i> {{ object.plot_un|default:"" }}
          </dd>
          <dt>{% trans 'Plot.ly key' %}</dt>
          <dd>
            <i class="fa fa-area-chart"></i> {{ object.plot_key|default:"" }}
          </dd>
        </dl>
      </div>
    </div>
  </section>
{% endblock %}

