{% load i18n bootstrap_tags %}

<div class="row">
  <div class="col-xs-12">
    <!-- Success box -->
    <div class="box box-solid box-info collapsed-box comments-block">
      {% if not not_collapse %}
      <div class="box-header">
        <h3 class="box-title"><i class="fa fa-comments-o"></i> {% trans 'Comments' %}</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-info btn-sm pull-right" data-widget="collapse" title=""><i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      {% endif %}
      {% if not not_collapse %}
        <div class="box-body collapse">
      {% else %}
        <div class="box-body">
      {% endif %}
        <div id="comment" class="list-group comment-activities">
          {% for comment in comments %}
            {% include 'comments/comment.html' %}
          {% endfor %}
          {% include 'alert.html' with modal_id="confirm-delete-comment" class="comment-remove" %}
        </div>
        <!-- Primary box -->
        <div class="box box-solid box-default">
          <div class="box-header">
            <h3 class="box-title"><i class="fa fa-comment-o"></i> {% trans 'Add comment' %}</h3>

            <div class="box-tools pull-right">
              <button class="btn btn-info btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <form action="{% url 'comment:comment' lab_pk=lab.pk %}" method="post" id="comment-form" class="comment-form">
            <div class="box-body">
              {% csrf_token %}
              {{ comment_form_create|as_bootstrap }}
              {{ comment_form_create.media }}
            </div>
            <div class="box-footer text-right">
              <button type="submit" class="btn btn-info btn-sm btn-flat">{% trans 'Submit comment'|upper %}</button>
            </div>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</div>

<!-- /.col-md -->
{% if not not_modal %}
{% block modal %}
  {% include 'modal.html' with modal_id="comment-modal" action="" extra_form=comment_form_update modal_title='update  comment' %}
{% endblock %}
{% endif %}
