{% extends 'base.html' %}

{% load i18n static %}

{% block breadcrumb %}
  <li class="active">{{ object }}</li>
{% endblock %}

{% block content_header %}{{ object }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#exp-page" data-toggle="tab"><i class="fa fa-eyedropper"></i> {% trans 'Experiment details' %}</a></li>
        <li class=""><a href="#unit-page" data-toggle="tab"><i class="fa fa-cube"></i> {% trans 'Units' %}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="exp-page">
          <div class="row">
            <div class="col-lg-6">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#exp-info" data-toggle="tab"><i class="fa fa-info"></i> {% trans 'Info' %}</a></li>
                  <li class=""><a href="#exp-description" data-toggle="tab"><i class="fa fa-file-text-o"></i> {% trans 'Description' %}</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="exp-info">
                    <div class="list-group">
                    <div class="row">
                      <div class="col-sm-3 title-desc"><br>{% trans 'title'|upper %}</div>
                      <div class="col-sm-9">
                        <ul class="list-group">
                          <li class="list-group-item">{{ object.title }}</li>
                        </ul>
                      </div>
                      <div class="col-sm-3 title-desc">{% trans 'date'|upper %}</div>
                      <div class="col-sm-9">
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-sm">{{ object.start|date:"m/d/Y H:i" }} -
                            {{ object.end|date:"m/d/Y H:i" }}</li>
                        </ul>
                      </div>
                      <div class="col-sm-3 title-desc">{% trans 'status'|upper %}</div>
                      <div class="col-sm-9">
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-sm">{{ object.get_status_display }}</li>
                        </ul>
                      </div>
                      <div class="col-sm-3 title-desc">{% trans 'owners'|upper %}</div>
                      <div class="col-sm-9">
                        <ul class="list-group">
                          {% for member in object.owners %}
                          <li class="list-group-item list-group-item-sm">
                            <a href="{{ member.get_absolute_url }}">{{ member.full_name }}</a>
                          </li>
                          {% endfor %}
                          {% if not object.owners %}
                          <li class="list-group-item">&nbsp;</li>
                          {% endif %}
                        </ul>
                      </div>
                      <div class="col-sm-3 title-desc external-event">{% trans 'editors'|upper %}</div>
                      <div class="col-sm-9">
                        <ul class="list-group">
                          {% for member in object.editors %}
                          <li class="list-group-item list-group-item-sm"><a
                                  href="{{ member.get_absolute_url }}">{{ member.full_name }}</a></li>
                          {% endfor %}
                          {% if not object.editors %}
                          <li class="list-group-item list-group-item-sm">&nbsp;</li>
                          {% endif %}
                        </ul>
                      </div>
                      <div class="col-sm-3 title-desc">{% trans 'viewers'|upper %}</div>
                      <div class="col-sm-9">
                        <ul class="list-group">
                          {% for member in object.viewers %}
                          <li class="list-group-item list-group-item-sm"><a
                                  href="{{ member.get_absolute_url }}">{{ member.full_name }}</a></li>
                          {% endfor %}
                          {% if not object.viewers %}
                          <li class="list-group-item list-group-item-sm">&nbsp;</li>
                          {% endif %}
                        </ul>
                      </div>
                      <div class="col-sm-9">
                        {% if is_member or is_owner %}
                          <div class="btn-group">
                            <a href="{% url 'experiments:update' pk=object.pk lab_pk=object.lab.pk %}" class="btn btn-info btn-sm btn-flat">
                              <i class="fa fa-edit"></i> {% trans 'edit'|upper %}
                            </a>
                          </div>
                        {% endif %}
                        {% if is_owner %}
                          <div class="btn-group">
                            <a class="btn btn-danger btn-sm btn-flat"
                               data-href="{% url 'experiments:delete' pk=object.pk lab_pk=object.lab.pk %}"
                               data-toggle="modal" data-target="#confirm-delete" href="#">
                              <i class="fa fa-trash-o"></i> {% trans 'delete'|upper %}</a>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="tab-pane" id="exp-description">
                    {{ object.description|safe }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#all" data-toggle="tab"><i class="fa fa-history"></i> {% trans 'All' %}</a></li>
                  <li class="">
                    <a href="#comments_activities" data-toggle="tab"><i class="fa fa-comments"></i> {% trans 'Comments' %}</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="all"
                       data-url="{% url 'dashboard:experiment-all-activity' lab_pk=lab.pk experiment_pk=object.pk %}">
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="comments_activities">
                    {% include 'comments/comment_form.html' with not_collapse="1" %}
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="unit-page">
          <div class="row">
            <div class="col-lg-6">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#units-graph" data-toggle="tab"><i class="fa fa-pie-chart"></i>  {% trans 'Graph' %}</a></li>
                  <li class="">
                    <a href="#units-list" data-toggle="tab"><i class="fa fa-list"></i> {% trans 'List' %}</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="units-graph">
                    <!--<a href="{% url 'units:create' lab.pk %}" class="btn btn-primary">Add Unit</a>-->
                    <a class="btn btn-danger btn-sm btn-flat"
                     data-toggle="modal" data-target="#add_unit" href="#">
                    <i class="fa fa-trash-o"></i> Add Unit</a>
                    {% include "units/unit_add_modal.html" %}
                    <div class="graph-area"></div>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="units-list">
                    <ul class="list-group">
                        {% for unit in units %}
                          <a href="#" data-unit-pk="{{ unit.pk }}" onclick="return false;" class="list-group-item list-group-item-sm unit-item">{{ unit }}</a>
                        {% endfor %}
                    </ul>
                    <div class="btn-group">
                      <a href="{% url 'units:experiment_unit_list' lab_pk=object.lab.pk experiment_pk=object.pk %}"
                         class="btn bg-yellow btn-sm">
                        <i class="fa fa-list"></i> {% trans 'edit units list'|upper %}
                      </a>
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
            </div>

            <div class="col-lg-6">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#unit-desc" data-toggle="tab"><i class="fa fa-file-text-o"></i> {% trans 'Description' %}</a></li>
                  <li class=""><a href="#unit-measurements" data-toggle="tab"><i class="fa fa-table"></i> {% trans 'Measurements' %}</a></li>
                  <li class=""><a href="#unit-tags" data-toggle="tab"><i class="fa fa-tag"></i> {% trans 'Tags' %}</a></li>
                  <li class=""><a href="#unit-comments" data-toggle="tab"><i class="fa fa-comments"></i> {% trans 'Comments' %}</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="unit-desc">
                    <div class="desc-area"></div>
                    <!--<a style="display:none" class="btn btn-primary edit-unit">Edit</a>-->
                  </div>

                  <div class="tab-pane"  id="unit-measurements">
                    <div class="btn-group">
                      <button style="display:none" id="save" class="btn bg-olive"><i class="fa fa-save"></i> {% trans 'Saves' %}</button>
                    </div>
                    <div class="btn-group">
                      <button  style="display:none" class="addcolumn btn bg-olive"><i class="fa fa-plus"></i> {% trans 'Add Column' %}</button>
                    </div>
                    <div class="btn-group">
                      <button  style="display:none" class="show-plot btn bg-olive"><i class="fa fa-area-chart"></i> {% trans 'Create plot' %}</button>
                    </div>
                    <div class="btn-group pull-right">
                      <button style="display:none" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">History <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-menu revision-list" role="menu"></ul>
                    </div>
                    <div class="plot-area">
                      <div class="voffset1">
                        <form id="plot-form" style="display: none">
                          <div class="plot-link"></div>
                          <div class="form-inline">
                            <div class="form-group">
                              <select  class="form-control asis" name="xasis">
                                <option selected disabled>x-asis</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <select class="form-control asis" name="yasis">
                                <option selected disabled>y-asis</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <select  class="input-small form-control" name="type">
                                <option disabled>type</option>
                                <option selected value="scatter">scatter</option>
                                <option value="bar">bar</option>
                              </select>
                            </div>
                          </div>
                          <div class="create-plot-btn">
                            <button class="create-plot btn bg-olive"><i class="fa fa-area-chart"></i> {% trans 'Create plot' %}</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="top voffset2">
                      <div class="wrap-handsontable">
                        <div id="dataTable" data-content='[[&quot;&quot;, &quot;&quot;], [&quot;&quot;, &quot;&quot;]]'
                             data-title='[[&quot;&quot;, &quot;&quot;], [&quot;&quot;, &quot;&quot;]]'
                             data-column='[[&quot;&quot;, &quot;&quot;], [&quot;&quot;, &quot;&quot;]]'
                             data-url=''
                             data-remove-url=''>

                         </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="unit-tags">
                    <div id="tag-tree" data-content='{{ tags }}'></div>
                    <button style="display:none" id="tag-save" class="btn bg-olive"><i class="fa fa-save"></i> {% trans 'Saves' %}</button>
                  </div>

                  <div class="tab-pane" id="unit-comments">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% include 'alert.html' with obj=object.title %}

{% endblock %}

{% block css %}
  <link rel="stylesheet" media="screen" href="{% static 'jquery-handsontable/jquery.handsontable.full.css' %}">
  <link rel="stylesheet" media="screen" href="{% static 'jquery-handsontable/jquery.handsontable.bootstrap.css' %}">
  <link rel="stylesheet" media="screen" href="{% static 'jstree/themes/default/style.min.css' %}">
  {% block extra_css %}{% endblock %}

{% endblock %}

{% block script %}
  <script src="{% static 'js/recent.js' %}"></script>
  <script src="{% static 'js/d3.v3.min.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>

  <script src="{% static 'jquery-handsontable/jquery.handsontable.full.js' %}"></script>
  <script src="{% static 'jquery-handsontable/selectMultipleEditor.js' %}"></script>
  <script src="{% static 'jquery-handsontable/select2Editor.js' %}"></script>
  <script src="{% static 'jquery-handsontable/datetimeEditor.js' %}"></script>
  {% block extra_script %}{% endblock %}
  <script src="{% static 'js/handson-table-new.js' %}"></script>
  <script src="{% static 'jstree/jstree.js' %}"></script>
  <script src="{% static 'js/tree.js' %}"></script>
  <script src="{% static 'js/plot.js' %}"></script>

  <script type="text/javascript">
    var lab_pk = '{{ lab.pk }}';
    var exp_pk = '{{ object.pk }}';
    window.unit_data = {}
    var treeElement = $('#tag-tree');

    $(function() {
      InitJSTree(treeElement,['search', 'checkbox']);
    });

    // fix handsontable bug with tabs
    $('a[href="#unit-measurements"]').on('shown.bs.tab', function (e) {
      if ($('#unit-measurements .btn').is(':visible')) {
        $('#dataTable').handsontable('render');
      }
    });

    function update_unit_info(unit){
      /**
      * Update unit info tabs.
      * @param unit - object {id: unit_id} For the the compatibility with d3 function call.
      */
      var url = '/{{ lab.pk }}/units/detail_json/'+ unit.id + '/'
      $.post(url, {unit_pk: unit.id}, function(data){
        // set global current unit
        window.unit_data = {
          'data-0-pk': data.pk,
          'data-0-sample': data.sample,
          'data-0-description': data.description,
          'data-0-experiments_pk[]': exp_pk,
          'length':1
        }
        unit_data = window.unit_data

        // show hidden tab's buttons
        $('#unit-measurements .btn').show()
        $('#unit-desc .btn').show()
        $('#unit-tags .btn').show()

        // description
        $('.desc-area').html(data.description)

        // measurements
        var table = $("#dataTable");
        var table_data = JSON.parse(data.measurements);
        var save_url = '/{{ lab.pk }}/measurements/'+ unit.id + '/create/'
        table.data('url', save_url)
        table.handsontable('loadData', table_data);

        // revisions
        $('.revision-list').html('');
        if (data.revisions){
          var revisions = JSON.parse(data.revisions);
          for (var i = 0; i < revisions.length; i++) {
            var rev = revisions[i];
            var h = '<li><a href="javascript:void(0);" class="revert-revision" data-url="' + rev.url +'">' +rev.timestamp +'</a></li>'
            $('.revision-list').append(h);
          }
        }

        // tags
        treeElement.jstree('deselect_all')
        treeElement.jstree('select_node', JSON.parse(data.tags))

        // comments
        $('#unit-comments').html(data.comments)

        //edit button
//        var edit_url = '/{{ lab.pk }}/units/detail/'+ unit.id + '/'
//        $('.edit-unit').attr('href', edit_url);

        // set active unit in list
        $('.unit-item').removeClass('active')
        $('.unit-item').each(function(e){
          if($(this).data('unit-pk') == unit.id){
            $(this).addClass('active')
            return false
          }
        })
      });
    }

    // save unit tags
    $("#unit-tags").on( "click", "#tag-save", function() {
      var selected_tags = treeElement.jstree('get_selected')
      var save_url ='/'+ lab_pk +'/units/create/';
      unit_data['data-0-tags_pk[]'] = selected_tags;
      $.post(save_url, unit_data);
    });

    // revert table data on revision restore
    $('body').on('click',' .revert-revision', function (e) {
        var url = $(this).data('url');
        $.post(url, function (data) {
            var table = $("#dataTable");
            var table_data = data.table_data;
            table_data.unshift(data.headers);
            table.handsontable('loadData', table_data);
        });

        reset_plot();

        return false
    });

     $('body').on('submit','.description-unit-form', function (e) {
        e.preventDefault();
        e.stopPropagation();
        var $form = $(e.target);
        var unit_data = window.unit_data
        unit_data['data-0-description'] = $form.find('textarea[name="description"]').val();

        if (typeof CKEDITOR !== "undefined") {
            for (var instance in CKEDITOR.instances) {
                if (CKEDITOR.instances.hasOwnProperty(instance)) {
                    CKEDITOR.instances[instance].updateElement();
                }
            }
        }

        $.post($form.attr('action'), unit_data)
            .fail(function (xhr) {
                var data = xhr.responseJSON;
                $form.find('.has-error').removeClass('has-error').removeAttr('title');
                for (var name in data) {
                    if (data.hasOwnProperty(name)) {
                        var icon = $('<i>', {'class': 'fa fa-warning'}),
                            error_message = $('span', {
                                'class': 'text-red error-msg',
                                'id': 'error_' + $form.find('[name="' + name + '"]').id
                            }).text(data[name].join(', ')).append(icon);

                        $form.find('[name="' + name + '"]')
                            .after(error_message);
                        $form.find('[name="' + name + '"]')
                            .parents('.form-group')
                            .addClass('has-error')
                            .attr('title', data[name].join(', '));
                    }
                }
            }).done(function (response) {
               var desc_value = $form.find('textarea[name="description"]').val()
               $form.parents('.description-editor').hide().parents('#description').find('.description-show').show();
               $form.parents('.description-editor').hide().parents('#description').find('.description-text').html(desc_value);

            });
    });

    $('body').on('submit','.add-unit-form', function (e) {
        e.preventDefault();
        e.stopPropagation();
        var $form = $(e.target);

        var unit_data = {
          'length':1,
          'data-0-experiments_pk[]': exp_pk,
        }
        unit_data['data-0-parent'] = $form.find('textarea[name="parent"]').val();
        unit_data['data-0-description'] = $form.find('textarea[name="description"]').val();
        unit_data['data-0-sample'] = $form.find('textarea[name="sample"]').val();
        unit_data['data-0-tags'] = $form.find('textarea[name="tags"]').val();

        $.post($form.attr('action'), unit_data)
            .fail(function (xhr) {
                var data = xhr.responseJSON;
                $form.find('.has-error').removeClass('has-error').removeAttr('title');
                for (var name in data) {
                    if (data.hasOwnProperty(name)) {
                        var icon = $('<i>', {'class': 'fa fa-warning'}),
                            error_message = $('span', {
                                'class': 'text-red error-msg',
                                'id': 'error_' + $form.find('[name="' + name + '"]').id
                            }).text(data[name].join(', ')).append(icon);

                        $form.find('[name="' + name + '"]')
                            .after(error_message);
                        $form.find('[name="' + name + '"]')
                            .parents('.form-group')
                            .addClass('has-error')
                            .attr('title', data[name].join(', '));
                    }
                }
            }).done(function (response) {
               //todo: update graph and list
               location.reload();

            });
      });

    $(function() {
      render_graph(JSON.parse( '{{ units_graph_json}}'), '.graph-area', update_unit_info)

      $('.unit-item').click(function(e){
        var unit_id = $(this).data('unit-pk')
        update_unit_info({id: unit_id})
      })

      // fix d3 in hidden tabs
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        window.dispatchEvent(new Event('resize'));
      })

    });
  </script>
{% endblock %}