{% extends 'base.html' %}

{% load i18n static %}

{% block content_header %}{% trans lab.name %}
  <small>{% trans 'Dashboard' %}</small>{% endblock %}

{% block manage_buttons %}
  {% if user in lab.investigator %}
    <div class="btn-group pull-right">
      <button class="btn btn-danger btn-flat" data-href="{% url 'labs:delete' lab_pk=lab.pk %}"
              data-toggle="modal" data-target="#confirm-delete">
        <i class="fa fa-trash"></i> {% trans 'delete'|title %}
      </button>
    </div>
    <div class="btn-group">
      <a href="{% url 'labs:update' lab_pk=lab.pk %}" class="btn btn-info btn-flat">
        <i class="fa fa-edit"></i> {% trans 'edit'|title %}
      </a>
    </div>
  {% endif %}
  {% if user in lab.investigator or user in lab.members %}
    <div class="btn-group">
      <a href="{% url 'experiments:create' lab_pk=lab.pk %}" class="btn bg-olive btn-flat">
        <i class="fa fa-plus"></i> {% trans 'Create Experiment'|title %}
      </a>
    </div>
  {% endif %}
  {% if experiments_list %}
    <div class="btn-group">
      <a href="{% url 'units:list' lab_pk=lab.pk %}" class="btn bg-yellow btn-flat">
        <i class="fa fa-list"></i> {% trans 'units list'|title %}
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block modal %}{% include 'alert.html' with obj='laboratory "'|add:lab.name|add:'"' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      {% include 'small-box_collapse.html' with obj_list=lab.investigator title_box='investigators' color='yellow' icon='users' %}
    </div>
    <div class="col-lg-3 col-xs-6">
      {% include 'small-box_collapse.html' with obj_list=lab.guests title_box='guests' color='red' icon='users' %}
    </div>
    <div class="col-lg-3 col-xs-6">
      {% include 'small-box_collapse.html' with obj_list=lab.memebers title_box='members' color='aqua' icon='users' %}
    </div>
    <div class="col-lg-3 col-xs-6">
      {% include 'small-box_collapse.html' with obj_list=experiments_list title_box='experiments' color='olive' icon='flask' %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 resent-activities-container">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#all" data-toggle="tab">{% trans 'All' %}</a></li>
          <li class=""><a href="#measurement" data-toggle="tab">{% trans 'Measurement' %}</a></li>
          <li class=""><a href="#comment" data-toggle="tab"><i class="fa fa-comments-o"></i> {% trans 'Comments' %}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="all" data-url="{% url 'dashboard:all-activity' lab_pk=lab.pk %}">
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="measurement" data-url="{% url 'dashboard:measurement-activity' lab_pk=lab.pk %}">
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="comment" data-url="{% url 'dashboard:comment-activity' lab_pk=lab.pk %}">
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
    </div>
    <div class="col-lg-8">
      <div class="box box-primary">
        <div class="box-body no-padding">
          <!-- THE CALENDAR -->
          <div id="calendar" data-events='{{ experiments }}'></div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
    </div>
    <!--<div class="col-lg-4">-->
      <!--<div class="box box-info">-->
        <!--<div class="box-header">-->
          <!--<i class="fa fa-envelope"></i>-->

          <!--<h3 class="box-title">{% trans 'quick email'|title %}</h3>-->
        <!--</div>-->
        <!--<div class="box-body">-->
          <!--<form action="#" method="post">-->
            <!--<div class="form-group">-->
              <!--<input type="email" class="form-control" name="emailto" placeholder="{% trans 'email to'|title %}:"/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<input type="text" class="form-control" name="subject" placeholder="{% trans 'subject'|title %}"/>-->
            <!--</div>-->
            <!--<div>-->
              <!--<textarea class="textarea" placeholder="{% trans 'message'|title %}"-->
                        <!--style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
        <!--<div class="box-footer clearfix">-->
          <!--<button class="pull-right btn btn-default" id="sendEmail">{% trans 'send'|title %} <i-->
              <!--class="fa fa-arrow-circle-right"></i></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-lg-8">-->
      <!--&lt;!&ndash; TO DO List &ndash;&gt;-->
      <!--<div class="box box-primary">-->
        <!--<div class="box-header">-->
          <!--<i class="ion ion-clipboard"></i>-->

          <!--<h3 class="box-title">{% trans 'to do list'|title %}</h3>-->

          <!--<div class="box-tools pull-right">-->
            <!--<ul class="pagination pagination-sm inline">-->
              <!--<li><a href="#">&laquo;</a></li>-->
              <!--<li><a href="#">1</a></li>-->
              <!--<li><a href="#">2</a></li>-->
              <!--<li><a href="#">3</a></li>-->
              <!--<li><a href="#">&raquo;</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
        <!--<div class="box-body">-->
          <!--<ul class="todo-list">-->
            <!--<li>-->
              <!--&lt;!&ndash; drag handle &ndash;&gt;-->
            <!--<span class="handle">-->
                <!--<i class="fa fa-ellipsis-v"></i>-->
                <!--<i class="fa fa-ellipsis-v"></i>-->
            <!--</span>-->
              <!--&lt;!&ndash; checkbox &ndash;&gt;-->
              <!--<input type="checkbox" value="" name=""/>-->
              <!--&lt;!&ndash; todo text &ndash;&gt;-->
              <!--<span class="text">Design a nice theme</span>-->
              <!--&lt;!&ndash; Emphasis label &ndash;&gt;-->
              <!--<small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>-->
              <!--&lt;!&ndash; General tools such as edit or delete&ndash;&gt;-->
              <!--<div class="tools">-->
                <!--<i class="fa fa-edit"></i>-->
                <!--<i class="fa fa-trash-o"></i>-->
              <!--</div>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--<div class="box-footer clearfix no-border">-->
          <!--<button class="btn btn-default pull-right"><i class="fa fa-plus"></i> {% trans 'Add item'|title %}</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /.box &ndash;&gt;-->
    <!--</div>-->
  </div>
{% endblock %}

{% block css %}
  <!-- fullCalendar -->
  <link href='{% static "adminLTE/css/fullcalendar/fullcalendar.css" %}' rel="stylesheet" type="text/css"/>
{% endblock %}

{% block script %}
  <script src="{% static 'js/recent.js' %}"></script>
  <script src='{% static "adminLTE/js/plugins/fullcalendar/fullcalendar.js" %}'></script>
  <script src='{% static "js/calendar.js" %}'></script>
{% endblock %}
