<div id="timelineDiv">
  {% include 'dashboard/timeline.html' %}
</div>
{% include 'pagination.html' %}
{% block extra_script %}
  <script>
    $(function () {
      $('#timelineDiv').slimScroll({
        height: '510px'
      });
    });
  </script>
{% endblock %}