{% load i18n %}

<ul class="timeline">

  {% for date, objects in object_list %}
    <li class="time-label">
      <span class="bg-red">{{ date }}</span>
    </li>
    {% for object in objects %}
      <li>
        <!-- timeline icon -->
        <i class="fa fa-{% if object.instance_type|lower  == 'tag' or object.instance_type|lower == 'comment' %}{{ object.instance_type|lower }}
                        {% elif object.instance_type|lower == 'experiment' %}eyedropper
                        {% elif object.instance_type|lower == 'unit' %}cube
                        {% elif object.instance_type|lower == 'collection' %}cubes
                        {% else %}question
                        {% endif %}
                     bg-{% if object.action_flag == object.ADD %}olive
                        {% elif object.action_flag == object.UPDATE %}aqua
                        {% elif object.action_flag == object.DELETE %}red
                        {% else %}yellow
                        {% endif %}"></i>

        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> {{ object.action_time|time:'H:i' }}</span>

          <h3 class="timeline-header {% if object.content_object and object.action_flag != object.COMMENT%}no-border{% endif %}">
            <a href="{{ object.init_user.get_absolute_url }}">
              <i class="fa fa-user"></i> {{ object.init_user.full_name|title }}
            </a>
            {{ object.get_action_flag_display }}
            {% if object.action_flag == object.COMMENT %}
              {{ object.comment_model|lower }}
              {% with comment_object=object.content_object.get_object %}
                {% if comment_object and comment_object.active %}
                  <a href="{{ comment_object.get_absolute_url }}">{{ comment_object|safe }}</a>
                {% else %}
                  {{ comment_object|safe }}
                {% endif %}
                </h3>
                <div class="timeline-body">
                  {% if object.content_object %}
                    {{ object.content_object.text|safe }}
                  {% else %}
                    {{ object.extra.object_name|safe }}
                  {% endif %}
                </div>
              {% endwith %}
            {% elif object.content_object.active %}
              {% trans object.instance_type|lower %}
              <a href="{{ object.content_object.get_absolute_url }}">{{ object.content_object|safe|default_if_none:'' }}</a>
              </h3>
            {% else %}
              {% trans object.instance_type|lower %}
              </h3>
              <div class="timeline-body">

                {% if object.content_object %}
                  {{ object.content_object|safe }}
                {% else %}
                  {{ object.extra.object_name|safe|default:'' }}
                {% endif %}
              </div>

            {% endif %}
        </div>
      </li>
    {% endfor %}
  {% endfor %}
  {% if object_list %}
    <li>
      <i class="fa fa-clock-o"></i>
    </li>
  {% endif %}
</ul>